{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'sign_up.css'%}">

    </head>
    <body>
        <div class="top-container">
            <form method="post" action="">

                <h1>Sign up</h1>
                
            <input type="text" placeholder="First name">
            <input type="text" placeholder="Last name">
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Enter password">
            <input type="text" placeholder="Comfirm password">
            <label for="date">Date of birth</label>
            <input type="date" class="date">

            <button class="submit-button" type="submit">submit</button>

            </form>
            


        </div>
        

    </body>
</html>