{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'table.css' %}">   
    </head>
    <body>
        <div class="table-box"></div>
        <div class="table-row table-head">
            <div class="table-cell first-cell">
                <p>Product</p>
            </div>
            <div class="table-cell">
                <p>Country</p>
            </div>
            <div class="table-cell">
                <p>Quantity</p>
            </div>
        </div>
        <div class="table-row">
            <div class="table-cell first-cell">
                <p><a href="" class="link">Rice</a></p>
            </div>
            <div class="table-cell">
                <p>Malawi</p>
            </div>
            <div class="table-cell last-cell">
                <p>95 tonnes</p>
            </div>
        </div>
        <div class="table-row">
            <div class="table-cell first-cell">
                <p><a href="" class="link">Rice</a></p>
            </div>
            <div class="table-cell">
                <p>Zambiya</p>
            </div>
            <div class="table-cell last-cell">
                <p>99 tonnes</p>
            </div>
        </div>
        

    </body>
</html>